@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;900&display=swap');


html,
body {
  background-color: #191A1A;
  color: #e0e0e0;
  padding: 0;
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
  margin: 0rem auto 8rem auto;
}

h1, h2, h3 {
  color: #ffffff;
}

ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-bottom: 2rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin-bottom: 2rem;
}

li {
  margin: .5rem 0;
}

a {
  text-transform: none;
  text-decoration: none;
  color: #4552c6;
}

p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.description {
  margin-bottom: 2rem;
  max-width: 760px;
}

.cta {
  background: #4552C6;
  font-weight: bold;
  padding: 1.5rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.colored {
  color: #4552C6;
}


.response{
  margin: 0 0 1.5rem 3rem;
  color:#424242;
  font-weight: 500;
}

.response.similars{
  color:#929292;
}


/*HEADER*/
/* ---- */
/*HEADER*/

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0rem;
  border-bottom: solid #2b2b2b 1px;
  background-color: #191A1A;
  margin-bottom: 2rem;
  z-index: 10;
}

.search-bar {
  width: 960px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.search-input {
  flex: 1;
  padding: 1rem 1.15rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 1rem;
  color: #e0e0e0;
  background-color: #212121;
  margin-right: .75rem;
  border:solid #212121 1px;
}

.search-input:focus {
  border-color: #2c2c2c;
}

.search-button {
  border: none;
  height: 52px;
  padding: 0 1.25rem;
  border-radius: 1rem;
  background-color: #212121;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .4s, background-color .2s;
}




.slick-slide button:hover{
background-color: #424242;
}

.search-button:disabled {
  cursor: not-allowed;
}

.search-button:disabled i{
  color: #424242;
}

.search-button:not(:disabled) {
  background-color: #2b2b2b;
}

.search-button:not(:disabled):hover{
  background-color: #424242;
}

.arrow-icon {
  font-size: 1rem;
}

.logo{
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  position: absolute;
  left: 4rem;
  color: white;
}





/*SLIDER LOCALS */
/* ------------ */
/*SLIDER LOCALS */


.slick-slider{
  margin-right: -2.5rem;
}

.slick-next{
  right: calc(3rem - 25px) !important;
}

.slick-slide{
  padding: 0 2.5rem 1.5rem 0;
  cursor: pointer;
}

.slick-slide:hover button{
  background-color: #424242 !important;
}

.slick-slide h4{
  font-size: 1.25rem;
  height: 24px;
  overflow: hidden;
  margin-bottom: .75rem;
}

.slick-slide img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: .75rem;
}

.slick-slide .review-classic{
  display: none;
}

.slick-slide p{
  margin: 0;
  height: 24px;
  overflow: hidden;
}

.slick-slide article{
  font-weight: .75rem;
  color: #424242;
  display: flex;
  margin-top: .5rem;
}

.slick-slide article p{
  margin-left: .5rem;
  margin-top: .1rem;
}

.slick-slide button{
  display: inline-block;
  color: white;
  background-color: #2b2b2b;
  padding: .6rem 1.1rem;
  border-radius: .75rem;
  font-size: .8rem;
  font-weight: 500;
  margin-top: 1rem;
  transition: color .4s, background-color .4s;
  appearance: none;
  border:none;
  cursor:pointer;
  letter-spacing: .2px;
}

.slick-slide button:hover{
  background-color: #424242;
}

.slick-dots li.slick-active button:before{
  color: #929292 !important;
}



/*POPUP MODAL */

.PopupModal{
  position: absolute;
  top: 84px;
  overflow: auto;
  background: #191A1A;
  border-radius: 4px;
  padding: 2rem;
  width: 100%;
  height: calc(100vh - 84px);
  overflow: hidden;
}

.iframe-wrapper{
  overflow: hidden;
  border-radius: 1rem;
  background-color: grey;
  height: 100%;
  background-color: #212121;
  border:#2b2b2b solid 1px; 
}

.iframe-wrapper .spinner{
  position: absolute;
  z-index: 0;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}


iframe {
  border: none;
  position: relative;
  z-index: 1;
}

.close-button{
  position: absolute;
  top: .5rem;
  right: .8rem;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.no-scroll {
    overflow: hidden;
}




/*DISPLAY CONTENT */
/* -------------- */
/*DISPLAY CONTENT */

.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  flex-direction: column;
}

.spinner {
  border: 4px solid transparent; 
  border-top: 4px solid #5c5c5c; 
  border-left: 4px solid #5c5c5c; 
  border-right: 4px solid #5c5c5c; 
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

.spinner-container p{
  margin-top: 1rem;
  color: #5c5c5c;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



section{
  padding: 3rem;
  background-color: #212121;
  border-radius: 1.5rem;
  width: 100%;
  border: solid #2b2b2b 1px;
  min-height: 100vh;
  margin-bottom: 3rem;
}

hr{
  width: calc(100% + 6rem);
  border: solid 1px #2b2b2b;
  margin: 3rem 0 3rem -3rem;
}

.content h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content h2{
  font-size: 1.5rem;
  margin: 2.75rem 0 1rem 0;
  font-weight: 700;

}

.content h3{
  margin: 2rem 0 .5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.content h4{
  font-size: 1rem;
  font-weight: 400;
  margin: 1.5rem 0 .5rem 0;
}

.content p,
.content li{
  color: #929292;
}

.content table{
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0 2.25rem 0;
}

.content th,
.content td{
  border: solid 1px #2b2b2b;
  padding: .75rem;
  text-align: center;
}



/*RELATED QUESTIONS */
/*----------------- */
/*RELATED QUESTIONS */

.related-questions h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.related-questions h4{
  font-size: 1rem;
  padding: 1.25rem 0;
  font-weight:500;
  border-top: #2b2b2b 1px solid;
  cursor: pointer;
}

.related-questions h4 div:hover{
  text-decoration: underline;
}

.related-questions p {
  font-size: 1rem;
  font-weight: 400;
  margin: .75rem 0 0 0;
  color:#929292 ;
}







/* SIMILAR QUERIES */
/* --------------- */
/* SIMILAR QUERIES */

.similar-queries{
  margin-left: 3rem;
}

.similar-queries h5{
  font-size: 1rem;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  font-weight: 500;
  color: #e0e0e0;
  padding: .75rem 1rem;
  background-color: #2b2b2b;
  border-radius: .7rem;
  cursor: pointer;
  border: solid #2b2b2b 1px;
  transition: color .4s, background-color .4s;
}

.similar-queries h5:hover{
  background-color: #212121;
}








/*RESPONSIVE */

@media (max-width: 1024px) {
  header{
    margin-bottom: 1.25rem;
  }

  .search-bar{
    padding: 1rem 1.5rem;
  }
  
  .search-input{
    margin-right: .75rem;
  }

  .container{
    margin: 0 1.5rem 4rem 1.5rem;
  }

  .response{
    margin: 0 0 1rem 1.5rem;
  }

  section {
    padding: 1.5rem;
    border-radius: 1rem;
  }

  hr{
    margin: 2rem 0 2rem -1.5rem;
    width: calc(100% + 3rem);
  }

  .slick-slider{
    margin-right: -1rem;
  }

  .slick-next {
    right: calc(1.5rem - 25px) !important;
  }

  .slick-dots{
    height: 30px;
    overflow: hidden;
  }

  .slick-dots li{
    height: 14px !important;
    width: 10px !important;
    margin-left: -5%;
  }

  .slick-slide{
    padding: 0 1rem 1rem 0;
  }

  .slick-slide img{
    height: 90px;
    margin-bottom: 1rem;
  }

  .slick-slide h4{
    font-size: 1.1rem;
    margin-bottom: .25rem;
  }

  .slick-slide p{
    font-size: .85rem;
    height: 20px;
  }

  .slick-slide .review-stars{
    display: none;
  }

  .slick-slide .review-classic{
    display: block;
  }

  .slick-slide button{
    margin-top: .75rem;
    font-size: .75rem;
    padding: .5rem;
    width: 100%;
    border-radius: .5rem;
  }

  .PopupModal{
    padding: 1.25rem;
  }

  .close-button{
    top: .25rem;
    right: .5rem;
  }





  .content h1{
    font-size: 1.5rem;
  }

  .content h2{
    font-size: 1.25rem;
  }

  .content h3{
    font-size: 1.1rem;
  }

  .content h4{
    font-size: 1rem;
  }



  .related-questions h3{
    font-size: 1.25rem;
  }

  p.response.similars{
    margin-left: 0;
  }

  .similar-queries{
    margin-left: 0rem;
  }

  .similar-queries h5{
    margin: 0 0rem 1rem 0;
    width: 100%;
  }

  
}